@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
@font-face {
  font-family: "pixel_bit_advancedregular";
  src: url("pixel-bit-advanced-webfont.woff2") format("woff2"),
    url("pixel-bit-advanced-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kufam", cursive;
  user-select: none;
}
html {
  background-color: #6505c1;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Generales */
.boton-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  width: 15vw;
  height: 5vw;
  font-size: 1.5vw;
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  color: white;
  font-family: "pixel_bit_advancedregular", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 0.5rem;
  user-select: none;
}
.boton-log:hover {
  cursor: pointer;
}
.crear-cuenta p,
.login p {
  margin-top: 1rem;
  font-size: 1.5vh;
  color: red;
}
.crear-cuenta input,
.login input {
  margin-top: 0.5rem;
}
.contenedor-botones-log {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}

/* Seccion Intro */
.intro {
  display: flex; /* flex */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: all 300ms;
}
.contenedor-intro {
  border: #21023e 17px solid;
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}
.contenedor-intro-botones {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.boton-intro-si,
.boton-intro-no {
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  color: white;
  font-family: "pixel_bit_advancedregular", Arial, sans-serif;
  font-size: 4vw;
  transition: all 200ms;
  user-select: none;
}
.boton-intro-si:hover,
#boton-crear-cuenta:hover,
#boton-login:hover {
  cursor: pointer;
  /* font-size: 2rem; */
  color: rgb(60, 220, 20);
}
.boton-intro-no:hover,
#boton-volver-crear-cuenta:hover,
#boton-volver-login:hover {
  cursor: pointer;
  /* font-size: 2rem; */
  color: crimson;
}

/* Seccion crearCuenta */
.crear-cuenta {
  opacity: 0%;
  display: none; /* flex */
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}
.contenedor-crear-cuenta {
  transition: all 300ms;
  border: #21023e 17px solid;
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 184, 91, 0.904); */
}
.texto-intro {
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  color: white;
  font-family: "pixel_bit_advancedregular", Arial, sans-serif;
  font-size: 3vw;
}
.contenedor-crear-cuenta input,
.contenedor-login input {
  margin-top: 2rem;
  width: 60vw;
  height: 5vw;
  font-size: 2vw;
}

/* Seccion Login */
.login {
  opacity: 0%;
  transition: all 300ms;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none; /* flex */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.contenedor-login {
  transition: all 300ms;
  border: #21023e 17px solid;
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Seccion Lobby */
.lobby {
  opacity: 0%;
  display: none; /* flex */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
  width: 100%;
  height: 100vh;
}
.marco-lobby {
  width: 97%;
  height: 97%;
  border: #21023e 17px solid;
  display: flex;
  flex-direction: column;
}
.contenedor-flex-row {
  display: flex;
  flex-direction: row;
  width: 90%;
}
.contenedor-lista-juego,
.contenedor-video-reaccion {
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  position: relative;
  top: 170px;
  left: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: white;
  font-size: 3.5vw;
  transition: all 300ms;
  height: 13vw;
  width: 30vw;
}
.contenedor-lista-juego p,
.contenedor-video-reaccion p {
  font-family: "pixel_bit_advancedregular", Arial, sans-serif;
  position: absolute;
  top: -16px;
  left: 0px;
  width: 200px;
  z-index: 3;
}
.lista-juego-fondo,
.video-reaccion-fondo {
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}
.contenedor-video-reaccion {
  margin-left: 10rem;
}
.contenedor-lista-juego:hover,
.contenedor-video-reaccion:hover {
  cursor: pointer;
}
.contenedor-lista-juego:hover div,
.contenedor-video-reaccion:hover div {
  clip-path: none;
}
.cont-lobby-title {
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  position: relative;
  top: 70px;
  left: 36vw;
  width: 200px;
}
.lobby-title-fondo {
  background-color: rgba(0, 0, 0);
  margin: 0;
  width: 20vw;
  height: 4.7vw;
  clip-path: polygon(0 0, 80% 0, 30% 100%, 0% 100%);
}
.lobbyTitle {
  font-family: "pixel_bit_advancedregular", Arial, sans-serif;
  color: white;
  position: absolute;
  top: -1vw;
  left: 0px;
  font-size: 4.5vw;
  z-index: 1;
}
.lobby-personalizar {
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  position: relative;
  top: 270px;
  left: -30px;
  width: 95vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lobby-personalizar p {
  font-family: "pixel_bit_advancedregular", Arial, sans-serif;
  font-size: 2vw;
  color: white;
}
.cont-personalizar-botones {
  display: flex;
  flex-direction: row;
  width: 40vw;
}
.colorCont input {
  height: 5vw;
  width: 4vw;
  z-index: 1;
  opacity: 0%;
}
#colorLista {
  width: 4.7vw;
}
#colorBorde {
  width: 5.1vw;
}
#colorFuente {
  width: 5.5vw;
}
#colorFondo {
  width: 5vw;
}
.colorCont input:hover {
  cursor: pointer;
}
.colorListaParaInput {
  position: absolute;
  top: 1vw;
  left: 1.4vw;
  background-color: white;
  width: 4vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fa-bars {
  font-size: 3vw;
  color: #6505c1;
}
.min-letra-per {
  position: absolute;
  top: -0.25vw;
  left: 0vw;
  height: 100px;
  font-size: 5vw !important;
}
.max-letra-per {
  position: absolute;
  top: 2.25vw;
  left: 4vw;
  font-size: 3vw !important;
}
.colorCont {
  position: relative;
  top: 0.3vw;
  left: 5vw;
}
.fa-hand-point-right {
  position: relative;
  top: 34%;
  left: 80%;
}
.colorBordeParaInput {
  position: absolute;
  top: 1vw;
  left: 1.4vw;
  border: white 3px dashed;
  width: 4.8vw;
  height: 5vw;
}
.colorFondoFondo {
  background-color: #6505c1;
  width: 4vw;
  height: 3vw;
}
.colorFondoParaInput {
  background-color: white;
  width: 4.8vw;
  height: 5vw;
  position: absolute;
  top: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Seccion Contenido */
.contenido {
  opacity: 100%; /* 0% */
  width: 100%;
  display: none; /* flex;*/
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  transition: all 300ms;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  background-color: rgba(99, 99, 99, 0.068);
}
.update {
  margin: 0.5rem 0.5rem 0 0;
  height: 45px;
  width: 50px;
}
.update:hover {
  cursor: pointer;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.titleContainer h2 {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.5));
  font-family: "pixel_bit_advancedregular", Arial, sans-serif;
  font-size: 2vw;
  color: white;
}
.table {
  margin-top: 2rem;
  background-color: rgba(176, 202, 251, 0.808);
  border: 0.8vh solid black;
  overflow: hidden;
  width: 40vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.user {
  width: 80%;
  font-size: 2.4vh;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contenedor-botones-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
}
.botonX,
.alertCont {
  background-color: rgba(0, 0, 0, 0.171);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dotted rgba(0, 0, 0, 0.589);
  width: 30px;
  height: 30px;
  user-select: none;
  border-radius: 20%;
  transition: all 200ms;
}
.botonX:hover,
.alertCont:hover {
  cursor: pointer;
  background-color: rgba(255, 134, 134, 0.432);
}
.contUser:nth-of-type(2n) {
  background-color: rgba(255, 255, 255, 0.096);
}
.listContainer {
  width: 100%;
  height: 450px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  font-size: 2vh;
  height: 50px;
}
button {
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
}
.spam {
  position: absolute;
  top: 92vh;
  left: 7vw;
  font-size: 1rem;
  font-style: italic;
}
#botonSet {
  font-size: 1.5vh;
}
.customCont {
  margin-top: 2rem;
  width: 400px;
  border: 5px dotted black;
  border-radius: 5%;
  background-color: rgba(176, 202, 251, 0.808);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.colorCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  font-size: 2vh;
}
.buttonColors {
  align-self: center;
}
.boton {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "pixel_bit_advancedregular", Arial, sans-serif; */
  background-color: rgba(0, 0, 0, 0.212);
  transition: all 1s;
  border: 4px dashed black;
}
.boton:hover {
  cursor: pointer;
  border: 4px solid black;
}
.botonSet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 15vh;
}
.buttonColors {
  background-color: rgba(123, 255, 141, 0.808);
  color: black;
  height: 5vh;
  width: 10vh;
}
.buttonList {
  height: 5vw;
  width: 15vw;
  margin-top: 0.6vw;
  font-size: 1.6vw;
  background-color: rgba(123, 255, 141, 0.808);
}
/* Boton de logout */
#button-logout {
  font-family: "pixel_bit_advancedregular", Arial, sans-serif;
  border: 4px dashed rgb(0, 0, 0);
  background-color: rgb(255, 0, 0);
  font-weight: 700;
  border-radius: 5%;
  padding: 1.2rem;
  user-select: none;
}
#button-logout:hover {
  cursor: pointer;
}

/* Seccion video reaccion */
.marcoVideo {
  border: 5px solid black;
  height: 100vh;
  width: 70vw;
}

.video-reaccion {
  opacity: 0%;
  display: none; /* none */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.updReac {
  position: absolute;
  top: 5.5vh;
  left: 1vw;
}
.contenedor-reproductor-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  width: 100vw;
  transition: all 300ms;
}

.marcoListaReproduccion {
  border: 2px solid black;
  background-color: #ffc570;
  width: 25vw;
  height: 100vh;
  overflow: auto;
}

.linkReproduccion {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cruz,
.alert {
  margin-left: 10px;
  height: 16px;
}

.cruz:hover,
.alert:hover {
  cursor: pointer;
}

.linkReproduccion:nth-of-type(2n) {
  background-color: rgba(255, 255, 255, 0.096);
}

.linkReproduccion:hover {
  cursor: pointer;
}
.boton-volver {
  user-select: none;
  position: absolute;
  top: 0;
  left: -2vw;
  width: 5vw;
  height: 6vh;
  border: 3px dashed black;
  background-color: #ff4e4e;
  transition: all 200ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boton-volver:hover {
  left: 0;
  cursor: pointer;
}
.arrow-reac {
  height: 40px;
}
